/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.replica-container {
	display: flex;
	flex-direction: column;
	max-width: 630px;
	margin: 0 auto;
	text-align: center;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	align-items: center;
}

.replica-rectangle {
	display: flex;
	flex-direction: column;
	max-width: 260px;
	height: 320px;
	font-size: 11.5px;
	margin-top: 15px;
}

.replica-header {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: #424242;
	color: white;
	font-size: 12.5px;
	height: 45px;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	margin-bottom: 10px;
}

.amount-needed {
	font-weight: bold;
	margin-right: 3px;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
}

.carrot {
	position: absolute;
	bottom: -3.75px;
	right: 35px;
	height: 7.5px;
	width: 7.5px;
	background-color: #424242;
	transform: rotate(45deg);
}

.replica-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	border: 1px;
	border-style: solid;
	border-color: #E8E8E8;
	padding: 20px 20px 15px;
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
}

.progress-bar {
	height: 10px;
	display: flex;
	flex-direction: row;
	background: #FAFAFA;
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 12px;
}

.progress-bar-orange {
	background-color: #EF5F3C;
	height: 100%;
	width: 190px;
}

.progress-bar-grey {
	flex-grow: 1;
	height: 100%;
	border-bottom: 1px solid #E8E8E8;
}

.rep-body-text {
	margin-bottom: 12px;
	letter-spacing: .35px;
	color: #616161;
}

.orange-text {
	color: #EF5F3C;
	font-weight: 900;
}

.number {
	font-weight: bold;
}

.amount-give {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	width: 100%;
}

.amount {
	border: 2px;
	border-style: solid;
	border-color: #E8E8E8;
	border-radius: 3px;
	height: 45px;
	width: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #828282;
	padding-left: 5px;
	font-size: 15px;
	font-weight: bold;
}

.amount span {
	color: #444444;
	margin-left: 3px;
}

.give {
	border-radius: 3px;
	height: 45px;
	width: 100px;
	color: white;
	background-color: #1CBC2C;
	font-size: 15px;
	font-weight: 600;
}

.purpose {
	color: #20A1D4;
	font-weight: 600;
	font-style: italic;
}

.replica-footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 10px;
}

.save {
	flex: 1;
	margin-right: 10px;
	height: 35px;
	background-color: #FAFAFA;
	color: #6d6d6d;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
}

.share {
	flex: 1;
	margin-left: 10px;
	height: 35px;
	background-color: #FAFAFA;
	color: #6d6d6d;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
}
